<!-- Creating the navbar to navigate from -->

<nb-layout>

  <nb-layout-header class="header">
  <!-- Insert header here -->
      <div class="header-wrapper">
          <div class="logo-container">
              <img class="logo" src="" alt="" style="padding: 10px;">
          </div>
          <div class="btn-container">
              <a href="/" class="btn">Search</a>
              <a href="bookmark" class="btn">Bookmark</a>
          </div>
      </div>
  </nb-layout-header>

  <nb-layout-column style="padding: 0!important;" class="body-container">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer class="footer" style="padding: 0 !important;">
  <!-- Insert footer here -->
     <p>Created By @AyahImad <a href="https://github.com/Abdaljawad-Ayah">Github</a></p>
  </nb-layout-footer>

</nb-layout>
